@import url(../reset.css);
@import url(cabecalho.css);
@import url(../rodape.css);
@import url(principal.css);

:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --vermelho: #FC7071;
    --branco: #FFF;
    --cinza: #737380;
    --cinza-claro: #F7F7F7;
    --cinza-placeholder: #BCBCBC;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
    background: url(../../img/forma1.svg);
    background-repeat: no-repeat;
    background-position: top left;

    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--branco);
}

@media screen and (min-width: 768px) {
    body{
        background: url(../../img/forma1-tablet.svg),
                    url(../../img/forma2-tablet.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-position: top left, right top 73%;
    }
}

@media screen and (min-width: 1440px) {
    body{
        background: url(../../img/forma1-tablet.svg),
                    url(../../img/forma2-tablet.svg);
                    background-repeat: no-repeat, no-repeat;
                    background-position: top left, right top 63%;
    }
}