.principal {
    position: relative;
    text-align: center;
    top: -4em;
    
    z-index: 1;
}


.principal__card {
    display: flex;
    align-items: center;

    background-color: var(--cinza-claro);

    padding: 1em;

    margin-bottom: 1em;
}


.principal__card-conteudo {
    text-align: start;
    margin-left: 2em;
}

.principal__card-nome {
    color: var(--azul);
    font-weight: 600;

    margin-bottom: .5em;
}

.principal__card-descricao {
    color: var(--cinza);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.5em;
}

.principal__card-local {
    color: var(--cinza);
    font-size: 12px;
    margin-bottom: .5em;
}

.principal__card-fale-com-resp {
    display: flex;
    align-items: center;
}

.principal__card-fale {
    color: var(--cinza);
    font-size: 10px;
    margin-left: 1em;
}

@media screen and (min-width: 768px) {
    .principal{
        top: -6em;
    }
    .principal__cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
    }
    .principal__card{
        width: 40%;
        margin-bottom: 0;
    }
    .principal__card-descricao{
        font-size: 12px;
    }
    .principal__card-imagem{
        width: 140px;
        height: 140px;
    }
    .principal__card-fale {
        font-size: 9px;
    }
}

@media screen and (min-width: 1440px) {
    .principal{
        top: -12em;
    }
    .principal__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        padding: 0 5em;
    }
    .principal__card{
        width: 25%;
        margin-bottom: 0;
    }
    .principal__card-descricao{
        font-size: 12px;
    }
    .principal__card-imagem{
        width: 140px;
        height: 140px;
    }
    .principal__card-fale {
        font-size: 9px;
    }
}